#news_tooltip, #news_tooltip div {
    border-radius: 25px;
}

#news_tooltip {
    background-color: #998953;
    padding: 2px;
    color: #3D3122;
}

#inside_div {
    padding: 10px;
    border-style: solid;
    border-color: #CCAE45;
    border-width: 2px;

}

#news_tooltip ul {
    list-style-type: none;
    padding: 10px;
}

#news_tooltip ul li {
    padding-top: 10px;
}

#news_tooltip img {
    height: auto;
    width: auto;
    max-height: 100px;
    max-width: 100px;
    box-shadow: 2px 2px 3px 1px #B2B2B2;
}

#news_tooltip h3{
    text-align: center;
}

#news_tooltip h4 {
    vertical-align: middle;
    text-align: left;
    padding-left: 50px;
}

#news_tooltip {
    z-index: 1000;
    width: 600px;
}

#news_tooltip a {
    color: #3D3122;
}

#news_tooltip a:hover{
    text-decoration: none;
    color: #73A1B2;
}

#news_tooltip a:visited {
    color: #546166;
}

.tapered-line{
    display:block;
    border:none;
    color:white;
    height:1px;
    background:#546166;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#546166), to(#A5AFB2));
}

.news-item {
    margin: 10px;
    max-width: 700px;
}

#world {
    background-color: #56998E;
    opacity: 0.7;
    width: 1950px;
}

.edges-d3-generic-vector-map-container path:hover {
    fill-opacity: 1 !important;
    fill: #998953 !important;
}

.edges-d3-generic-vector-map-pinned {
    fill-opacity: 1 !important;
    fill: #998953  !important;
}

.edges-d3-generic-vector-map-tooltip {
    background: transparent;
}

.map-buttons {
    background-color: #665238;
}

.map-buttons button {
    background-color: #CCAE45;
    color: #665238;
    border-color: #665238;
    font-size: 20px;
}

.dropdown-menu {
    background-color: #CCAE45;
    color: #665238;
    border-color: #665238;
    font-size: 20px;
}

.btn-default:hover, .open>.dropdown-toggle.btn-default {
    background-color: #998953;
}